.vs/
Temp/
obj/
Logs/
bin/
.DS_Store
Library/
.cache/
ZFramework.sln
Packages/manifest.json
Packages/packages-lock.json
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/QualitySettings.asset
ProjectSettings/TimelineSettings.asset
UserSettings/EditorUserSettings.asset
Assets/Bundles/
Unity.Boot.csproj
Unity.Core.csproj
Unity.Editor.csproj
Unity.Hotfix.Data.csproj
Unity.Hotfix.Func.csproj
Unity.Hotfix.View.csproj
Unity.Mono.csproj
Unity.Package.Editor.csproj
Unity.Package.Runtime.csproj

HybridCLRData/
