.vs/
Temp/
obj/
Logs/
bin/
.DS_Store
Library/
Assets/Bundles/
.cache/
Assets/BootFiles/
Unity.BuildIn.csproj
Unity.Core.csproj
Unity.Data.csproj
Unity.Logic.csproj
Unity.Mono.csproj
Unity.ViewData.csproj
Unity.ViewLogic.csproj
Unity.ZEditor.csproj
Unity.ZPlugIn.Editor.csproj
Unity.ZPlugIn.Runtime.csproj
