.vs/
Temp/
obj/
Logs/
bin/
.DS_Store
Library/
*.csproj
*.sln
Assets/Bundles/Code/Code.dll.bytes
Assets/Bundles/Code/Code.pdb.bytes
Assets/Bundles/Code/Code.dll.bytes.meta
Assets/Bundles/Code/Code.pdb.bytes.meta
